<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dada.dao.LineCarBindMapper">
  <resultMap id="BaseResultMap" type="com.dada.entity.LineCarBind">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="line_id" jdbcType="VARCHAR" property="lineId" />
    <result column="car_id" jdbcType="VARCHAR" property="carId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="modifier_id" jdbcType="VARCHAR" property="modifierId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <insert id="insert" parameterType="com.dada.entity.LineCarBind">
    insert into line_car_bind (id, line_id, car_id, 
      remark, is_deleted, creator_id, 
      modifier_id, create_time, modify_time
      )
    values (#{id,jdbcType=VARCHAR}, #{lineId,jdbcType=VARCHAR}, #{carId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, #{creatorId,jdbcType=VARCHAR}, 
      #{modifierId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dada.entity.LineCarBind">
    insert into line_car_bind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lineId != null">
        line_id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null">
        #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>