<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dada.dao.SysLineMapper">
	<resultMap id="BaseResultMap" type="com.dada.entity.SysLine">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="line_name" jdbcType="VARCHAR" property="lineName" />
		<result column="line_start" jdbcType="VARCHAR" property="lineStart" />
		<result column="line_end" jdbcType="VARCHAR" property="lineEnd" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="is_deleted" jdbcType="BIT" property="isDeleted" />
		<result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
		<result column="modifier_id" jdbcType="VARCHAR" property="modifierId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>

	<select id="selectLine" parameterType="com.dada.entity.SysLine"
		resultMap="BaseResultMap">
		SELECT * from sys_line
		WHERE is_deleted = 0 AND id = #{id}
	</select>

	<select id="selectStart" parameterType="com.dada.entity.SysLine"
		resultMap="BaseResultMap">
		SELECT * from sys_line
		WHERE is_deleted = 0
		<if test="lineStart != null">
			AND line_start LIKE CONCAT('%', #{lineStart}, '%')
		</if>
	</select>
	<select id="findPage" parameterType="com.dada.entity.SysLine"
		resultMap="BaseResultMap">
		SELECT
		id,
		line_name,
		line_start,
		line_end,
		remark,
		creator_id,
		modifier_id,
		create_time,
		modify_time
		FROM sys_line
		WHERE is_deleted = 0
		<if test="lineStart != null">
			AND line_start LIKE CONCAT('%', #{lineStart}, '%')
		</if>
		<if test="lineEnd != null">
			AND line_end LIKE CONCAT('%', #{lineEnd}, '%')
		</if>
	</select>

	<select id="findPageByCount" parameterType="com.dada.entity.SysLine"
		resultType="java.lang.Integer">
		SELECT
		COUNT(id)
		FROM sys_line
		WHERE is_deleted = 0
		<if test="lineStart != null">
			AND line_start LIKE CONCAT('%', #{lineStart}, '%')
		</if>
		<if test="lineEnd != null">
			AND line_end LIKE CONCAT('%', #{lineEnd}, '%')
		</if>
	</select>

	<update id="remove" parameterType="com.dada.entity.SysLine">
		UPDATE sys_line SET is_deleted
		= 1,modifier_id = #{modifierId},
		modify_time = #{modifyTime} WHERE
		is_deleted = 0 AND id = #{id}
	</update>
	<insert id="insert" parameterType="com.dada.entity.SysLine">
		insert into sys_line (id,
		line_name, line_start,
		line_end, remark, is_deleted,
		creator_id,
		modifier_id, create_time,
		modify_time)
		values (#{id,jdbcType=VARCHAR},
		#{lineName,jdbcType=VARCHAR},
		#{lineStart,jdbcType=VARCHAR},
		#{lineEnd,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{isDeleted,jdbcType=BIT},
		#{creatorId,jdbcType=VARCHAR},
		#{modifierId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifyTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.dada.entity.SysLine">
		insert into sys_line
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="lineName != null">
				line_name,
			</if>
			<if test="lineStart != null">
				line_start,
			</if>
			<if test="lineEnd != null">
				line_end,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="creatorId != null">
				creator_id,
			</if>
			<if test="modifierId != null">
				modifier_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="lineName != null">
				#{lineName,jdbcType=VARCHAR},
			</if>
			<if test="lineStart != null">
				#{lineStart,jdbcType=VARCHAR},
			</if>
			<if test="lineEnd != null">
				#{lineEnd,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=BIT},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="modifierId != null">
				#{modifierId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
</mapper>